<template>
  <div
    class="meme-container"
    :class="{ 'meme-container-clicked': clicked }"
    @click="copy"
    @mouseleave="hover"
  >
   <iframe
      v-if="isEmbed"
      class="meme"
      :src="previewUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <div
      v-else
      class="meme"
      :style="{ backgroundImage: 'url(' + previewUrl + ')' }"
    ></div>
  </div>
</template>

<script>
function copyToClipboard(text) {
  const textArea = document.createElement("textarea")
  textArea.value = text
  document.body.appendChild(textArea)
  textArea.select()
  document.execCommand("copy")
  document.body.removeChild(textArea)
}

function getEmbedUrl(url) {
  let ytId = url.match(/youtu\.be\/([a-zA-Z0-9_-]+)/)
  ytId = ytId || url.match(/youtube\.com.*(\?|&)v=([a-zA-Z0-9_-]+)/)

  return ytId ? "https://www.youtube.com/embed/" + ytId.pop() : null
}

export default {
  data() {
    return {
      clicked: false,
    }
  },
  props: { url: String },
  methods: {
    copy() {
      copyToClipboard(this.url)
      this.clicked = true
    },
    hover() {
      this.clicked = false
    },
  },
  computed: {
    isEmbed() {
      return /youtu/.test(this.url)
    },
    previewUrl() {
      return getEmbedUrl(this.url) || this.url
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.meme-container {
  flex: 1 0 10%;
  position: relative;
  min-width: 175px;
  min-height: 175px;
}

.meme-container:before {
  content: "Copy URL";
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 175px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.meme-container:hover:before {
  display: block;
}

.meme-container-clicked:before {
  content: "Copied!";
}

.meme {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
