<template>
  <div id="app" class="memebox">
    <meme
      v-for="url in urls"
      :key="url"
      :url="url"
    />
  </div>
</template>

<script>
const urls = [
  "https://placekitten.com/200/300",
  "https://placekitten.com/300/200",
  "https://placekitten.com/300/400",
  "https://www.youtube.com/watch?v=XMdoGqcnBoo",
  "https://www.youtube.com/watch?v=JwQY9GoLMvY",
  "https://youtu.be/XE6YaLtctcI",
]

import Meme from "./Meme"

export default {
  data() {
    return {
      urls,
    }
  },
  components: {
    Meme,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.memebox {
  display: flex;
  flex-flow: row wrap;
}
</style>
