<template>
  <div class="memes-container">
    <h1>Mème Selector</h1>
    <MemeSelector/>
  </div>
</template>

<script>
import MemeSelector from "./components/MemeSelector"

export default {
  name: "App",
  components: {
    MemeSelector,
  },
}
</script>

<style>
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-align: center;
}
</style>
